In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'a': [10, 20, 30, 40, 50],
    'b': [5, 15, 25, 35, 45],
    'c': [-5, -15, -25, -35, -45],    
})

df

    a   b   c
0  10   5  -5
1  20  15 -15
2  30  25 -25
3  40  35 -35
4  50  45 -45

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
# Min-Max 정규화 (기본값은 0 ~ 1)
mms = MinMaxScaler(feature_range=(1, 3))
scaled_mms = mms.fit_transform(df)
scaled_mms

array([[1. , 1. , 3. ],
       [1.5, 1.5, 2.5],
       [2. , 2. , 2. ],
       [2.5, 2.5, 1.5],
       [3. , 3. , 1. ]])

In [16]:
col_mms = [item + '_m' for item in df.columns]
col_mms

['a_m', 'b_m', 'c_m']

In [18]:
df_mms = pd.DataFrame(scaled_mms, columns=col_mms)
df_mms

   a_m  b_m  c_m
0  1.0  1.0  3.0
1  1.5  1.5  2.5
2  2.0  2.0  2.0
3  2.5  2.5  1.5
4  3.0  3.0  1.0

In [19]:
df_new = pd.concat([df, df_mms], axis=1)
df_new

    a   b   c  a_m  b_m  c_m
0  10   5  -5  1.0  1.0  3.0
1  20  15 -15  1.5  1.5  2.5
2  30  25 -25  2.0  2.0  2.0
3  40  35 -35  2.5  2.5  1.5
4  50  45 -45  3.0  3.0  1.0