In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'a': [10, 20, 30, 40, 50],
    'b': [5, 15, 25, 35, 45],
    'c': [-5, -15, -25, -35, -45],    
})

df

    a   b   c
0  10   5  -5
1  20  15 -15
2  30  25 -25
3  40  35 -35
4  50  45 -45

In [2]:
from sklearn.preprocessing import StandardScaler

In [3]:
# Z-Score 표준화
ss = StandardScaler()
scaled_ss = ss.fit_transform(df)
scaled_ss

array([[-1.41421356, -1.41421356,  1.41421356],
       [-0.70710678, -0.70710678,  0.70710678],
       [ 0.        ,  0.        ,  0.        ],
       [ 0.70710678,  0.70710678, -0.70710678],
       [ 1.41421356,  1.41421356, -1.41421356]])

In [4]:
col_ss = [item + '_s' for item in df.columns]
col_ss

['a_s', 'b_s', 'c_s']

In [5]:
df_ss = pd.DataFrame(scaled_ss, columns=col_ss)
df_ss

        a_s       b_s       c_s
0 -1.414214 -1.414214  1.414214
1 -0.707107 -0.707107  0.707107
2  0.000000  0.000000  0.000000
3  0.707107  0.707107 -0.707107
4  1.414214  1.414214 -1.414214

In [6]:
df_new = pd.concat([df, df_ss], axis=1)
df_new

    a   b   c       a_s       b_s       c_s
0  10   5  -5 -1.414214 -1.414214  1.414214
1  20  15 -15 -0.707107 -0.707107  0.707107
2  30  25 -25  0.000000  0.000000  0.000000
3  40  35 -35  0.707107  0.707107 -0.707107
4  50  45 -45  1.414214  1.414214 -1.414214