In [2]:
import pandas as pd
import numpy as np

data = {
    'A': [1, 2, np.nan, 4, np.nan],
    'B': [np.nan, 2, np.nan, 4, 5],
    'C': [1, np.nan, np.nan, 4, 5],
    'D': [np.nan, 2, 3, 4, np.nan]
}

df = pd.DataFrame(data)

df

     A    B    C    D
0  1.0  NaN  1.0  NaN
1  2.0  2.0  NaN  2.0
2  NaN  NaN  NaN  3.0
3  4.0  4.0  4.0  4.0
4  NaN  5.0  5.0  NaN

In [7]:
for i, row in df.iterrows():
    print(i)
    print(row)
    print()

0
A    1.0
B    NaN
C    1.0
D    NaN
Name: 0, dtype: float64

1
A    2.0
B    2.0
C    NaN
D    2.0
Name: 1, dtype: float64

2
A    NaN
B    NaN
C    NaN
D    3.0
Name: 2, dtype: float64

3
A    4.0
B    4.0
C    4.0
D    4.0
Name: 3, dtype: float64

4
A    NaN
B    5.0
C    5.0
D    NaN
Name: 4, dtype: float64

In [10]:
for col in df.columns:
    print(f"Column {col}:")
    print(df[col])
    print()

Column A:
0    1.0
1    2.0
2    NaN
3    4.0
4    NaN
Name: A, dtype: float64

Column B:
0    NaN
1    2.0
2    NaN
3    4.0
4    5.0
Name: B, dtype: float64

Column C:
0    1.0
1    NaN
2    NaN
3    4.0
4    5.0
Name: C, dtype: float64

Column D:
0    NaN
1    2.0
2    3.0
3    4.0
4    NaN
Name: D, dtype: float64