In [1]:
import pandas as pd

# 예시 데이터: 회원 이름과 가입일
data = {
    'NAME': ['김철수', '이영희', '박민수', '최지우'],
    'JOIN_DATE': ['2023-05-01', '2024-01-15', '2024-12-01', '2025-05-20'],    
}

today = '2025-05-27'

df = pd.DataFrame(data)

df

  NAME   JOIN_DATE
0  김철수  2023-05-01
1  이영희  2024-01-15
2  박민수  2024-12-01
3  최지우  2025-05-20

In [2]:
from datetime import datetime

datetime.strptime(today, '%Y-%m-%d')

datetime.datetime(2025, 5, 27, 0, 0)

In [3]:
# today를 기준으로 경과일 구하기
df['JOIN_DATE'].map(lambda x: (datetime.strptime(today, '%Y-%m-%d') - datetime.strptime(x, '%Y-%m-%d')).days)

0    757
1    498
2    177
3      7
Name: JOIN_DATE, dtype: int64