In [9]:
import pandas as pd
import numpy as np

# 랜덤 데이터 생성
df = pd.DataFrame(
    np.random.randint(1, 11, size=(5, 5)),
    columns=['A', 'B', 'C', 'D', 'E']
)

df.head()

    A   B   C  D   E
0  10  10   3  1   1
1  10   9  10  5   5
2   5   6   6  3  10
3  10   8   4  9   9
4   1   9   1  4   2

In [13]:
df_g = df.groupby(['A']).count().sort_values('B', ascending=False) #.index[1:3].to_list()
df_g

    B  C  D  E
A
10  3  3  3  3
1   1  1  1  1
5   1  1  1  1