In [2]:
import pandas as pd
import numpy as np

np.random.seed(1234)

n_samples = 100
data = {
    'age': np.random.randint(20, 60, size=n_samples),
    'salary': np.random.randint(30000, 120000, size=n_samples),
    'owns_house': np.random.randint(0, 2, size=n_samples),
}

df = pd.DataFrame(data)

df.head()

   age  salary  owns_house
0   39  102520           0
1   58  100530           0
2   32   96155           0
3   44  117170           1
4   35  114722           1

In [21]:
idx0 = df.iloc[:20].index
idx1 = df.iloc[20:40].index
idx2 = df.iloc[40:60].index
idx3 = df.iloc[60:80].index
idx4 = df.iloc[80:100].index

for n, idx in enumerate([idx0, idx1, idx2, idx3, idx4]):
    print("index :", idx)
    print("train set", n, " :", df.loc[idx, :].shape)
    print("test  set", n, " :", df.loc[~df.index.isin(idx), :].shape)
    print()

index : RangeIndex(start=0, stop=20, step=1)
train set 0  : (20, 3)
test  set 0  : (80, 3)

index : RangeIndex(start=20, stop=40, step=1)
train set 1  : (20, 3)
test  set 1  : (80, 3)

index : RangeIndex(start=40, stop=60, step=1)
train set 2  : (20, 3)
test  set 2  : (80, 3)

index : RangeIndex(start=60, stop=80, step=1)
train set 3  : (20, 3)
test  set 3  : (80, 3)

index : RangeIndex(start=80, stop=100, step=1)
train set 4  : (20, 3)
test  set 4  : (80, 3)

In [ ]:
######################################################################################################

In [7]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=1234)

for i, (train_index, test_index) in enumerate(kf.split(df)):
    train_df = df.iloc[train_index]
    test_df = df.iloc[test_index]
    
    print(f'Fold {i+1}')
    print(f'Train size: {len(train_df)}, Test size: {len(test_df)}')
    print(test_df.head()) 
    print('-' * 40)

Fold 1
Train size: 80, Test size: 20
    age  salary  owns_house
1    58  100530           0
27   32   75399           1
33   48  102382           1
35   43   38849           0
39   25   97481           1
----------------------------------------
Fold 2
Train size: 80, Test size: 20
    age  salary  owns_house
4    35  114722           1
7    50   93289           1
9    46  105425           0
10   48   85673           0
29   31   43219           1
----------------------------------------
Fold 3
Train size: 80, Test size: 20
    age  salary  owns_house
5    43   83294           1
6    46   84754           0
8    50   83687           1
16   54   53314           1
18   23   98725           0
----------------------------------------
Fold 4
Train size: 80, Test size: 20
    age  salary  owns_house
0    39  102520           0
2    32   96155           0
3    44  117170           1
11   25   32730           0
12   36  110386           1
----------------------------------------
Fold 5
Train size: 80, Test size: 20
    age  salary  owns_house
15   57  110163           1
23   36   93345           0
24   23   47969           1
26   39   95179           0
30   37   43908           1
----------------------------------------