In [15]:
import pandas as pd
import numpy as np

np.random.seed(1234)

data = np.random.rand(10, 3)
columns = ['feature1', 'feature2', 'feature3']

df = pd.DataFrame(data, columns=columns)

df

   feature1  feature2  feature3
0  0.191519  0.622109  0.437728
1  0.785359  0.779976  0.272593
2  0.276464  0.801872  0.958139
3  0.875933  0.357817  0.500995
4  0.683463  0.712702  0.370251
5  0.561196  0.503083  0.013768
6  0.772827  0.882641  0.364886
7  0.615396  0.075381  0.368824
8  0.933140  0.651378  0.397203
9  0.788730  0.316836  0.568099

In [16]:
from scipy.stats import norm

def norm_diff(srs): # 정규분포를 얼마나 잘 따르는지를 측정하는 지표를 계산
    mean = srs.mean()
    std = srs.std()
    rv = norm(loc=mean, scale=std)
    arr_tmp0 = np.zeros(19)
    arr_tmp1 = np.zeros(19)
    
    for i, j in enumerate(np.arange(0.05, 1, 0.05)):
        arr_tmp0[i] = rv.ppf(j)
        arr_tmp1[i] = srs.quantile(j)
    
    diff = ((arr_tmp0 - arr_tmp1) ** 2).mean()
    
    return diff

In [17]:
norm_diff(df['feature1'])

0.004913583195279118

In [ ]:
##################################################################################################

In [22]:
import numpy as np
from scipy import stats

# srs: 정규성 비교할 pandas Series
osm, osr = stats.probplot(df['feature1'], dist="norm")[0]  # 분위수 비교용

mse = ((np.array(osm) - np.array(osr)) ** 2).mean()
print("MSE between theoretical and empirical quantiles:", mse)

MSE between theoretical and empirical quantiles: 0.8476838295464748

In [23]:
osm, osr

(array([-1.49876728, -0.98494667, -0.64703803, -0.37109819, -0.12121409,
         0.12121409,  0.37109819,  0.64703803,  0.98494667,  1.49876728]),
 array([0.19151945, 0.27646426, 0.56119619, 0.61539618, 0.68346294,
        0.77282662, 0.78535858, 0.78873014, 0.87593263, 0.9331401 ]))