In [24]:
import pandas as pd
import numpy as np
import string

np.random.seed(1234) 

columns = list('abcd')
data = np.random.normal(loc=0, scale=1, size=(30, 4))

# DataFrame 생성
df = pd.DataFrame(data, columns=columns)

df.head()

          a         b         c         d
0  0.471435 -1.190976  1.432707 -0.312652
1 -0.720589  0.887163  0.859588 -0.636524
2  0.015696 -2.242685  1.150036  0.991946
3  0.953324 -2.021255 -0.334077  0.002118
4  0.405453  0.289092  1.321158 -1.546906

In [25]:
# 피어슨 상관계수
df.corr()

          a         b         c         d
a  1.000000 -0.251099  0.262274 -0.177428
b -0.251099  1.000000 -0.488502  0.004483
c  0.262274 -0.488502  1.000000 -0.199800
d -0.177428  0.004483 -0.199800  1.000000

In [26]:
# 스피어만 상관계수
from scipy.stats import spearmanr

cols = df.columns.to_list()

for i, v1 in enumerate(cols):
    for k, v2 in enumerate(cols):
        if k > i:
            print(f"{i} vs {k}")
            
            correlation, p_value = spearmanr(df[v1], df[v2])
            
            print(f"Spearman 상관계수: {correlation:.4f}")
            print(f"p-값: {p_value:.4f}")

            # 결과 해석
            if p_value < 0.05:
                print("유의미한 순위 상관관계가 있습니다.")
            else:
                print("유의미한 순위 상관관계가 없습니다.")
            
            print()

0 vs 1
Spearman 상관계수: -0.2102
p-값: 0.2648
유의미한 순위 상관관계가 없습니다.

0 vs 2
Spearman 상관계수: 0.2810
p-값: 0.1326
유의미한 순위 상관관계가 없습니다.

0 vs 3
Spearman 상관계수: -0.1973
p-값: 0.2959
유의미한 순위 상관관계가 없습니다.

1 vs 2
Spearman 상관계수: -0.4242
p-값: 0.0195
유의미한 순위 상관관계가 있습니다.

1 vs 3
Spearman 상관계수: -0.0821
p-값: 0.6663
유의미한 순위 상관관계가 없습니다.

2 vs 3
Spearman 상관계수: -0.1871
p-값: 0.3222
유의미한 순위 상관관계가 없습니다.

In [28]:
corr_matrix, p_matrix = spearmanr(df)

print("▶ Spearman 상관계수 행렬:")
print(pd.DataFrame(corr_matrix, index=df.columns, columns=df.columns))

▶ Spearman 상관계수 행렬:
          a         b         c         d
a  1.000000 -0.210234  0.280979 -0.197330
b -0.210234  1.000000 -0.424249 -0.082091
c  0.280979 -0.424249  1.000000 -0.187097
d -0.197330 -0.082091 -0.187097  1.000000

In [29]:
print("▶ Spearman p_value 행렬:")
print(pd.DataFrame(p_matrix, index=df.columns, columns=df.columns))

▶ Spearman p_value 행렬:
          a         b         c         d
a  0.000000  0.264813  0.132561  0.295922
b  0.264813  0.000000  0.019462  0.666282
c  0.132561  0.019462  0.000000  0.322172
d  0.295922  0.666282  0.322172  0.000000