In [2]:
import pandas as pd
import numpy as np

# 예시 데이터프레임 생성
data = {
    'A': [1, 2, np.nan, 4, np.nan],
    'B': [np.nan, 2, np.nan, 4, 5],
    'C': [1, np.nan, np.nan, 4, 5],
    'D': [np.nan, 2, 3, 4, np.nan]
}
df = pd.DataFrame(data)

print("원본 데이터프레임")
print(df)

N = 2  # 결측치 개수 기준

# N개 이상의 결측치가 있는 행 제거
df_filtered = df[df.isnull().sum(axis=1) < N]

print(f"\n{N}개 이상의 결측치를 가지는 행 제거 후")
print(df_filtered)

원본 데이터프레임
     A    B    C    D
0  1.0  NaN  1.0  NaN
1  2.0  2.0  NaN  2.0
2  NaN  NaN  NaN  3.0
3  4.0  4.0  4.0  4.0
4  NaN  5.0  5.0  NaN

2개 이상의 결측치를 가지는 행 제거 후
     A    B    C    D
1  2.0  2.0  NaN  2.0
3  4.0  4.0  4.0  4.0

In [12]:
data = {
    'A': [1, 2, np.nan, 4, np.nan],
    'B': [np.nan, 2, np.nan, 4, 5],
    'C': [1, np.nan, np.nan, 4, 5],
    'D': [np.nan, 2, 3, 4, np.nan]
}
df = pd.DataFrame(data)

In [13]:
df.loc[df['A'].isna(), 'A'] = [7, 9]

In [14]:
df

     A    B    C    D
0  1.0  NaN  1.0  NaN
1  2.0  2.0  NaN  2.0
2  7.0  NaN  NaN  3.0
3  4.0  4.0  4.0  4.0
4  9.0  5.0  5.0  NaN