In [7]:
import pandas as pd
import numpy as np

np.random.seed(1234)

df = pd.DataFrame({
    'A': np.random.uniform(0, 10, 100),
    'B': np.random.uniform(0, 10, 100)
})

df['C'] = 2 * df['A'] + 3 * df['B'] + np.random.normal(0, 1, 100)

df.head()

          A         B          C
0  1.915195  7.671166  27.472664
1  6.221088  7.081154  33.872131
2  4.377277  7.968672  33.613049
3  7.853586  5.577608  33.428134
4  7.799758  9.658365  44.502004

In [12]:
from sklearn.model_selection import train_test_split

X = df[['A', 'B']]
y = df['C']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

In [16]:
from sklearn.neighbors import KNeighborsRegressor

# 모델 학습
# 최소 이웃의 수 10 = 최소 이웃의 수에 자기 자신을 포함하지 않음
model = KNeighborsRegressor(n_neighbors=10, metric='euclidean')
model.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='euclidean',
                    metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                    weights='uniform')

In [17]:
# 예측
y_pred = model.predict(X_test)
y_pred

array([10.79253203, 16.92131168, 26.54397577, 33.24421004, 26.9082499 ,
       28.20159287, 10.79253203, 36.54647193, 36.37292438, 28.20159287,
       11.21412918, 32.95384063, 30.52422351, 15.77933389, 38.29717848,
       38.60306682, 29.77685203, 33.24421004, 22.02364442, 42.53199037])

In [18]:
# 평가
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mse, mae, r2

(10.812811065220751, 1.964252092770355, 0.9166806115579151)